*{
    box-sizing: border-box;
}

.crsl{
    height: 700px;
    display: flex;
    flex: wrap;
}

.crslItem{
    width: 100%;
    height: 600px;
}

.crsl1{
    transform: translateY(-450px);
    filter: brightness(55%);
}

.cardGroup{
    position: relative;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.card1{
    position: relative;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.card2{
    position: relative;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.cardFitur{
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.card-body-left{
    text-align: left;
    padding: 10%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 0 0.5rem;
}

.card-body-right{
    text-align: right;
    padding: 10%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 0 0.5rem;
}

.card-img-top{
    height: auto;
    width: 100%;
    border-radius: 5px;
}
